In [1]:
import pandas as pd 
import numpy as np
import datetime
import pytz

In [2]:
df = pd.read_csv('Tesla_Comments_Filtered_Analyzed.csv', delimiter=",")

In [3]:
TSLA = pd.read_csv('TSLA (3).csv', delimiter=';')

In [4]:
TSLA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       251 non-null    object
 1   Open       251 non-null    float64
 2   High       251 non-null    float64
 3   Low        251 non-null    float64
 4   Close      251 non-null    float64
 5   Adj Close  251 non-null    float64
 6   Volume     251 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.9+ KB

In [5]:
#Turns out it is not so we convert it 
TSLA['Date'] = pd.to_datetime(TSLA['Date'])

C:\Users\maart\AppData\Local\Temp\ipykernel_13812\1425919129.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  TSLA['Date'] = pd.to_datetime(TSLA['Date'])

In [6]:
TSLA['date'] = TSLA['Date']

In [7]:
df

,subreddit,id,body,created_utc,parent_id,date,emotion,probas,reg_output
0,TeslaMotors,hqqtbh2,"If help is needed, use our stickied support th...",1.640994e+09,t3_rt6fwg,2022-01-01 00:46:50,"AnalyzerOutput(output=NEU, probas={NEU: 0.832,...","[('NEG', 0.0038293171674013138), ('NEU', 0.832...",0.159910
1,TeslaMotors,hqqtz7i,Requirements: \n\n• Fits under the aero cover ...,1.640995e+09,t3_rt6j33,2022-01-01 00:51:46,"AnalyzerOutput(output=NEU, probas={NEU: 0.872,...","[('NEG', 0.11134149879217148), ('NEU', 0.87199...",-0.094674
2,TeslaMotors,hqqu7z3,Photo credit @rkaplan1 on Twitter,1.640995e+09,t3_rt6kex,2022-01-01 00:53:37,"AnalyzerOutput(output=NEU, probas={NEU: 0.922,...","[('NEG', 0.003630931256338954), ('NEU', 0.9218...",0.070899
3,TeslaMotors,hqqxko8,I've wanted an Apple MagSafe charger in my cen...,1.640996e+09,t3_rt72vs,2022-01-01 01:20:13,"AnalyzerOutput(output=NEG, probas={NEG: 0.785,...","[('NEG', 0.784606397151947), ('NEU', 0.2061541...",-0.775367
4,TeslaMotors,hqr8kka,I see you set your temperature to: NICE.,1.641002e+09,t3_rt8o5j,2022-01-01 02:47:11,"AnalyzerOutput(output=POS, probas={POS: 0.675,...","[('NEG', 0.00296275457367301), ('NEU', 0.32224...",0.671825
...,...,...,...,...,...,...,...,...,...
165105,TeslaMotors,ie4b81w,Is this with the unreleased beta software? I’m...,1.656459e+09,t3_vn0xq2,2022-06-29 01:24:55,"AnalyzerOutput(output=NEG, probas={NEG: 0.778,...","[('NEG', 0.7782235741615295), ('NEU', 0.215484...",-0.771931
165106,TeslaMotors,ie4bcyt,No still 10.12.2. Just in another vehicle.,1.656459e+09,t3_vn0yi6,2022-06-29 01:25:58,"AnalyzerOutput(output=NEU, probas={NEU: 0.973,...","[('NEG', 0.015009327791631222), ('NEU', 0.9726...",-0.002637
165107,TeslaMotors,ie4betk,"Also wondering this question, would love to re...",1.656459e+09,t3_vn0ysw,2022-06-29 01:26:22,"AnalyzerOutput(output=NEU, probas={NEU: 0.719,...","[('NEG', 0.0524548701941967), ('NEU', 0.719225...",0.175865
165108,TeslaMotors,ie4nqju,Looks like a bunch of companies are all releas...,1.656465e+09,t3_vn0ysw,2022-06-29 03:03:36,"AnalyzerOutput(output=NEU, probas={NEU: 0.903,...","[('NEG', 0.005526799242943525), ('NEU', 0.9028...",0.086061
165109,TeslaMotors,ie5dkhc,"I am an auto enthusiast myself, but this is ju...",1.656478e+09,t3_vn0ysw,2022-06-29 06:48:50,"AnalyzerOutput(output=NEG, probas={NEG: 0.975,...","[('NEG', 0.9749175906181335), ('NEU', 0.022336...",-0.972172

In [8]:
#We have to figure oiut if the date column is already in datetime or not 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165110 entries, 0 to 165109
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   subreddit    165110 non-null  object
 1   id           165110 non-null  object
 2   body         165110 non-null  object
 3   created_utc  165110 non-null  float64
 4   parent_id    165110 non-null  object
 5   date         165110 non-null  object
 6   emotion      165110 non-null  object
 7   probas       165110 non-null  object
 8   reg_output   165110 non-null  float64
dtypes: float64(2), object(7)
memory usage: 11.3+ MB

In [9]:
#Turns out it is not so we convert it 
df['date'] = pd.to_datetime(df['date'])

In [10]:
#Normalized the dates, so that it fits with the garch model. So that we do not have information spillover to the day we are trying to forecast.
df['date'] = df['date'].apply(lambda x: x.date() if x.time() < pd.Timestamp('14:30:00').time() else x.date() + pd.Timedelta(days=1))

In [11]:
df['date'] = pd.to_datetime(df['date'])

In [12]:
## group the data by day and sum the 'reg_output' scores
df = df.groupby(pd.Grouper(key='date', freq='D')).sum().reset_index()

C:\Users\maart\AppData\Local\Temp\ipykernel_13812\906970833.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby(pd.Grouper(key='date', freq='D')).sum().reset_index()

In [13]:
df

          date   created_utc  reg_output
0   2022-01-01  3.446126e+10    3.023068
1   2022-01-02  5.038161e+11   -4.589049
2   2022-01-03  1.381857e+12  -51.048246
3   2022-01-04  6.302370e+11  -38.858170
4   2022-01-05  1.590453e+12 -211.422332
..         ...           ...         ...
407 2023-02-12  1.508548e+10    0.423312
408 2023-02-13  5.028688e+09   -1.824124
409 2023-02-14  1.676336e+09    0.990002
410 2023-02-15  0.000000e+00    0.000000
411 2023-02-16  1.676507e+09   -0.918593

[412 rows x 3 columns]

In [14]:
# group the data by day and calculate the average of 'reg_output' scores
df = df.groupby(pd.Grouper(key='date', freq='D')).mean().reset_index()

In [15]:
df

          date   created_utc  reg_output
0   2022-01-01  3.446126e+10    3.023068
1   2022-01-02  5.038161e+11   -4.589049
2   2022-01-03  1.381857e+12  -51.048246
3   2022-01-04  6.302370e+11  -38.858170
4   2022-01-05  1.590453e+12 -211.422332
..         ...           ...         ...
407 2023-02-12  1.508548e+10    0.423312
408 2023-02-13  5.028688e+09   -1.824124
409 2023-02-14  1.676336e+09    0.990002
410 2023-02-15  0.000000e+00    0.000000
411 2023-02-16  1.676507e+09   -0.918593

[412 rows x 3 columns]

In [16]:
#ASSUMPTION IS THAT IF THERE ARE NO COMMENTS, THEY ARE NEUTRAL. SO WE ASSUME IT HAS 0 IMPACT  
#For some of the days we dont have comments, so we convert those NAN's into 0's, since we cannot calculate with NANS, since it has no numerical value. 
df = df.fillna(0)

In [ ]:
# group the data by day and aggeregate the comments to be one per day based on variance 
variance = df.groupby(pd.Grouper(key='date', freq='D'))['reg_output'].var().reset_index(name='variance')

In [17]:
#Here we make sure that the number of reddit scores match with the number of stock prices, so that we have the same amount of frequencies 
merged_df = pd.merge(TSLA, df, on='date', how='inner')

In [18]:
merged_df

,Date,Open,High,Low,Close,Adj Close,Volume,date,created_utc,reg_output
0,2022-03-01,382.583344,400.356659,378.679993,399.926666,399.926666,103931400,2022-03-01,8.592573e+11,-45.021069
1,2022-04-01,396.516663,402.666656,374.350006,383.196655,383.196655,100248300,2022-04-01,6.397203e+11,-74.651293
2,2022-05-01,382.216675,390.113342,360.336670,362.706665,362.706665,80119800,2022-05-01,9.231118e+11,-81.385434
3,2022-06-01,359.000000,362.666656,340.166656,354.899994,354.899994,90336600,2022-06-01,1.290148e+12,-66.700095
4,2022-07-01,360.123322,360.309998,336.666656,342.320007,342.320007,84164700,2022-07-01,4.969864e+10,-2.570915
...,...,...,...,...,...,...,...,...,...,...
246,2022-12-23,126.370003,128.619995,121.019997,123.150002,123.150002,166989700,2022-12-23,1.003047e+11,-0.610287
247,2022-12-27,117.500000,119.669998,108.760002,109.099998,109.099998,208643400,2022-12-27,4.180253e+10,0.251494
248,2022-12-28,110.349998,116.269997,108.239998,112.709999,112.709999,221070500,2022-12-28,4.013230e+10,-2.641652
249,2022-12-29,120.389999,123.570000,117.500000,121.820000,121.820000,221923300,2022-12-29,3.344532e+10,0.335976
250,2022-12-30,119.949997,124.480003,119.750000,123.180000,123.180000,157304500,2022-12-30,3.679178e+10,-2.281908

In [19]:
merged_df = merged_df.drop(['date', 'created_utc', 'Volume', 'Close', 'Low', 'High', 'Open', 'Date'], axis=1)

In [20]:
#Now we have the final output, that can be used for volatility forecasting
merged_df

      Adj Close  reg_output
0    399.926666  -45.021069
1    383.196655  -74.651293
2    362.706665  -81.385434
3    354.899994  -66.700095
4    342.320007   -2.570915
..          ...         ...
246  123.150002   -0.610287
247  109.099998    0.251494
248  112.709999   -2.641652
249  121.820000    0.335976
250  123.180000   -2.281908

[251 rows x 2 columns]

In [21]:
merged_df.isna().sum()

Adj Close     0
reg_output    0
dtype: int64

In [22]:
merged_df.to_csv('SP_SC.csv', index=False)

## Predicting Volatility ; Data Science Way

In [ ]:
# Import the required libraries
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

In [ ]:
# Load the data into a pandas dataframe
merged_df = pd.read_csv('SP_SC.csv')

In [ ]:
# Calculate the returns and log returns
merged_df['Returns'] = merged_df['Adj Close'].pct_change()
merged_df['Log_Returns'] = np.log(1 + merged_df['Returns'])

In [ ]:
# Create a synthetic target variable by calculating the rolling standard deviation of log returns
merged_df['Volatility'] = merged_df['Log_Returns'].rolling(window=30).std() * np.sqrt(30)

In [ ]:
# Drop the rows with missing values
merged_df.dropna(inplace=True)

In [ ]:
# Define the input and output variables
X = merged_df[['Adj Close', 'reg_output']].values
y = merged_df['Volatility'].values

In [ ]:
# Split the data into training and testing sets
train_size = int(len(X) * 0.8)
X_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = y[:train_size], y[train_size:]

In [ ]:
# Reshape the input data to fit the LSTM input shape
X_train = X_train.reshape((X_train.shape[0], 1, X_train.shape[1]))
X_test = X_test.reshape((X_test.shape[0], 1, X_test.shape[1]))

In [ ]:
# Build the LSTM model
model = Sequential()
model.add(LSTM(50, input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(Dense(1))
model.compile(loss='mse', optimizer='adam')

In [ ]:
# Fit the model on the training data
history = model.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test), verbose=2, shuffle=False)

In [ ]:
# Make predictions on the test data
y_pred = model.predict(X_test)

In [ ]:
# Calculate the mean squared error of the predictions
mse = np.mean((y_pred - y_test)**2)
print("Mean Squared Error:", mse)

In [ ]:
# calculate the root mean squared error
rmse = np.sqrt(mse)
print('RMSE: ', rmse)

In [ ]:
y_pred

In [ ]:
import matplotlib.pyplot as plt

# Reshape the original y_test and y_pred arrays to match the original shape
y_test_orig = y_test.reshape(-1)
y_pred_orig = y_pred.reshape(-1)

# plot the predicted vs. actual volatility values
plt.plot(y_test_orig, label='Actual')
plt.plot(y_pred_orig, label='Predicted')
plt.legend()
plt.xlabel('Time')
plt.ylabel('Volatility')
plt.title('Actual vs. Predicted Volatility')
plt.show()

In [ ]:
pip install torch

In [ ]:
# import required libraries
import torch
import pandas as pd
import torch.nn as nn
import torch.optim as optim
import numpy as np
from torch.utils.data import DataLoader, TensorDataset
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [ ]:
# Load the data into a pandas dataframe
merged_df = pd.read_csv('SP_SC.csv')

In [ ]:
# Calculate the returns and log returns
merged_df['Returns'] = merged_df['Adj Close'].pct_change()
merged_df['Log_Returns'] = np.log(1 + merged_df['Returns'])

In [ ]:
# Create a synthetic target variable by calculating the rolling standard deviation of log returns
merged_df['Volatility'] = merged_df['Log_Returns'].rolling(window=30).std() * np.sqrt(30)

In [ ]:
# Drop the rows with missing values
merged_df.dropna(inplace=True)

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
mm = MinMaxScaler()
ss = StandardScaler()

In [ ]:
merged_df['reg_output_sc']= ss.fit_transform(merged_df['reg_output'])

In [ ]:
# Define the input and output variables
X = merged_df[['Adj Close', 'reg_output']].values
y = merged_df['Volatility'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# # Split the data into training and testing sets
# train_size = int(len(X) * 0.8)
# X_train, X_test = X[:train_size], X[train_size:]
# y_train, y_test = y[:train_size], y[train_size:]

In [ ]:
X_train = X_train.reshape(X_train.shape[0], X_train.shape[1])

In [ ]:
X_test = X_test.reshape(X_test.shape[0], X_test.shape[1])

In [ ]:
# y_train = y_train.reshape(y_train.shape[0], y_train.shape[1])

In [ ]:
# y_test = y_test.reshape(y_test.shape[0], y_test.shape[1])

In [ ]:
# # Reshape the input data to fit the LSTM input shape
# X_train = X_train.reshape((X_train.shape[0], 1, X_train.shape[1]))
# X_test = X_test.reshape((X_test.shape[0], 1, X_test.shape[1]))

In [ ]:
# Split the data into training and testing sets
train_data = TensorDataset(torch.from_numpy(X_train), torch.from_numpy(y_train))
test_data = TensorDataset(torch.from_numpy(X_test), torch.from_numpy(y_test))

train_loader = DataLoader(train_data, batch_size=1, shuffle=True)
test_loader = DataLoader(test_data, batch_size=1, shuffle=False)

In [ ]:
# Initialize the LSTM model
# Define the input size, hidden size and number of outputs
input_size = 2
hidden_size = 16
output_size = 1
num_epochs= 10
# Define the LSTM model and Linear output fully connected layer
lstm = nn.LSTM(input_size, hidden_size, batch_first=True)
fc = nn.Linear(hidden_size, output_size)

# Define the loss function and optimizer
criterion = nn.MSELoss()
optimizer = optim.SGD(lstm.parameters(), lr=0.0007)

In [ ]:

print("Training Shape", X_train.shape, y_train.shape)
print("Testing Shape", X_test.shape, y_test.shape)

In [ ]:
# Initializing Hyperparameters
num_epochs = 100
train_losses = []
test_losses = []

# Loop over the number of epochs
for epoch in range(num_epochs):
    train_loss = 0
    # Initialize the hidden state and the cell state
    # The hidden state and the cell state reset to zero for every epoch
    hs = torch.zeros(1, hidden_size)
    cs = torch.zeros(1, hidden_size)

    # Get the input and target at position i
    for i, (data, label) in enumerate(train_loader):
        
        hidden = (hs, cs)
        # Run the forward pass
        output, hidden = lstm(data.float(), hidden)
        output = fc(hidden[-1])

        hs = hs.detach()
        cs = cs.detach()

        # 2. Network Evaluation
        loss = criterion(output, label.float())

        # 3. Gradient Calculation
        loss.backward()

        # 4. Back Propagation
        optimizer.step()
        optimizer.zero_grad()

        train_loss += loss.item()

    # Calculate the average training loss
    train_loss = train_loss / len(train_loader)
    train_losses.append(train_loss)

# Plot the MSE loss for each epoch
plt.plot(train_losses)
plt.xlabel('Epoch')
plt.ylabel('MSE Loss')
plt.title('Training Loss over Epochs')
plt.show()

In [ ]:

# Evaluate the LSTM model
mse = 0
#By wrapping the evaluation code in a with torch.no_grad() context, 
#you can avoid unnecessary memory usage and speed up the evaluation process.
with torch.no_grad():
    # Initialize the hidden state and the cell state
    # The hidden state and the cell state reset to zero for every epoch
    hs = torch.zeros(1, hidden_size)
    cs = torch.zeros(1, hidden_size)

    for data, label in test_loader:
        hidden = (hs, cs)
        output, hidden = lstm(data.float(), hidden)
        output = fc(hidden[-1])
        hs = hs.detach()
        cs = cs.detach()
        
        mse += ((output - label)**2).mean().item()

mse /= len(test_loader)
print('Test MSE: {}'.format(mse))

In [ ]:
output_list = []

# Initialize the hidden state and the cell state
# The hidden state and the cell state reset to zero for every epoch
hs = torch.zeros(1, hidden_size)
cs = torch.zeros(1, hidden_size)

    
for i, (data, label) in enumerate(train_loader):
    output_list.append(0)
    
for i, (data, label) in enumerate(test_loader):
    hidden = (hs, cs)
    
    # Run the forward pass
    output, hidden = lstm(data.float(), hidden)
    output = fc(hidden[-1])
    hs = hs.detach()
    cs = cs.detach()
    output_list.append(output.detach().numpy()[0][0])

In [ ]:
dataY_plot = list(y)
data_predict = output_list

In [ ]:

# train_predict = lstm(X_ss)#forward pass
# data_predict = train_predict.data.numpy() #numpy conversion
# dataY_plot = y.Volume.values
data_predict = output_list

# data_predict = mm.inverse_transform([output_list]) #reverse transformation
# dataY_plot = mm.inverse_transform(dataY_plot)
plt.figure(figsize=(10,6)) #plotting
plt.axvline(x=175, c='r', linestyle='--') #size of the training set

plt.plot(dataY_plot, label='Actual Data') #actual plot
plt.plot(data_predict, label='Predicted Data') #predicted plot
plt.title('Time-Series Prediction')
plt.legend()
plt.show()

In [ ]:

output_list = []

# Initialize the hidden state and the cell state
# The hidden state and the cell state reset to zero for every epoch
hs = torch.zeros(1, hidden_size)
cs = torch.zeros(1, hidden_size)
for i, (data, label) in enumerate(test_loader):
    hidden = (hs, cs)
    
    # Run the forward pass
    output, hidden = lstm(data.float(), hidden)
    output = fc(hidden[-1])
    hs = hs.detach()
    cs = cs.detach()
    output_list.append(output.detach().numpy()[0][0])
    
for i, (data, label) in enumerate(train_loader):
    hidden = (hs, cs)

    # Run the forward pass
    output, hidden = lstm(data.float(), hidden)
    output = fc(hidden[-1])
    hs = hs.detach()
    cs = cs.detach()
    output_list.append(output.detach().numpy()[0][0])

In [ ]:
dataY_plot = list(y)
data_predict = output_list

In [ ]:
output_list

In [ ]:

# train_predict = lstm(X_ss)#forward pass
# data_predict = train_predict.data.numpy() #numpy conversion
# dataY_plot = y.Volume.values
data_predict = output_list

# data_predict = mm.inverse_transform([output_list]) #reverse transformation
# dataY_plot = mm.inverse_transform(dataY_plot)
plt.figure(figsize=(10,6)) #plotting
plt.axvline(x=200, c='r', linestyle='--') #size of the training set

plt.plot(dataY_plot, label='Actual Data') #actual plot
plt.plot(data_predict, label='Predicted Data') #predicted plot
plt.title('Time-Series Prediction')
plt.legend()
plt.show()

In [ ]:

# Save the trained RNN model
torch.save(lstm.state_dict(), 'lstm.pt')

# Load the model
rnn = nn.LSTM(input_size, hidden_size, batch_first=True)
rnn.load_state_dict(torch.load('lstm.pt'))