In [1]:
import pandas as pd 
import numpy as np
import datetime
import pytz

In [2]:
df = pd.read_csv('Tesla_Comments.csv', delimiter=",")

In [3]:
df = df[['subreddit','id','body','created_utc','parent_id']]

In [4]:
df.head()

,subreddit,id,body,created_utc,parent_id
0,TeslaMotors,hqqtbh2,"If help is needed, use our stickied support th...",1640994410,t3_rt6fwg
1,TeslaMotors,hqqtz7i,"If help is needed, use our stickied support th...",1640994706,t3_rt6j33
2,TeslaMotors,hqqu7z3,"If help is needed, use our stickied support th...",1640994817,t3_rt6kex
3,TeslaMotors,hqqxko8,"If help is needed, use our stickied support th...",1640996413,t3_rt72vs
4,TeslaMotors,hqr8kka,"If help is needed, use our stickied support th...",1641001631,t3_rt8o5j

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187424 entries, 0 to 187423
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   subreddit    187424 non-null  object
 1   id           187424 non-null  object
 2   body         187423 non-null  object
 3   created_utc  187424 non-null  int64
 4   parent_id    187424 non-null  object
dtypes: int64(1), object(4)
memory usage: 7.1+ MB

In [6]:
print(df['body'].isnull().sum())

1

In [7]:
df.dropna(inplace=True)

In [8]:
#First row under created_utc 
first_row_body = df.loc[0,"body"]

In [9]:
#Tutorial for applying this transformer model on custom dataset 
#This transformer model was taking from: https://huggingface.co/ahmedrachid/FinancialBERT-Sentiment-Analysis?text=Bids+or+offers+include+at+least+1%2C000+shares+and+the+value+of+the+shares+must+correspond+to+at+least+EUR+4%2C000.
from transformers import BertTokenizer, BertForSequenceClassification
from transformers import pipeline

model = BertForSequenceClassification.from_pretrained("ahmedrachid/FinancialBERT-Sentiment-Analysis",num_labels=3)
tokenizer = BertTokenizer.from_pretrained("ahmedrachid/FinancialBERT-Sentiment-Analysis")

nlp = pipeline("sentiment-analysis", model=model, tokenizer=tokenizer, max_length = 510)

# sentences = ["Operating profit rose to EUR 13.1 mn from EUR 8.7 mn in the corresponding period in 2007 representing 7.7 % of net sales.",  
#              "Bids or offers include at least 1,000 shares and the value of the shares must correspond to at least EUR 4,000.", 
#              "Raute reported a loss per share of EUR 0.86 for the first half of 2009 , against EPS of EUR 0.74 in the corresponding period of 2008.", 
#              ]
results = nlp(first_row_body)
print(results)

c:\Users\maart\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.

[{'label': 'neutral', 'score': 0.9995878338813782}]

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df['subreddit'].value_counts()

In [ ]:
df

In [11]:
%%time
for indx, row in df[:100].iterrows():
    result = nlp(df['body'][0])
    result_list.append(result)

NameError: name 'result_list' is not defined

In [10]:
%%time
for indx in range(len(df[:100])):
    result = nlp(df['body'][indx])
    result_list.append(result)

NameError: name 'result_list' is not defined

In [ ]:
result_list

In [ ]:
result_list = []

if df.shape[0] > 0 and 'body' in df.columns:
    for indx in range(df.shape[0]):
        try:
            result = nlp(df['body'][indx])
            result_list.append(result)
        except Exception as e:
            print(f"Error processing row {indx}: {e}")
else:
    print("The DataFrame is empty or does not have a 'body' column.")